/*задание 12*/
.tsk12 div{
    width: 60px;
    height: 60px;
    display: inline-block;
}
.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.tsk12 div:hover{
    background-color: orange;
}
/*задание 13*/
.battery{
    width: 200px;
    height: 70px;
    border: 5px solid black;
    margin-bottom: 10px;
    position: relative;
}
.battery::after{
    content: "";
    width: 10px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 200px;
    top: 25px;
}
.low::before{
    content: "";
    position: absolute;
    height: 70px;
    width: 65px;
    background-color: red;
}
.medium::before{    
    content: "";
    position: absolute;
    height: 70px;
    width: 100px;
    background-color: yellow;
}
.fool::before{    
    content: "";
    position: absolute;
    height: 70px;
    width: 200px;
    background-color: green;
}
/*задание 14*/
.links { 
    background: #F6967D;
   }
   .links a {
    color: #FFFDEB;
    display: inline-block;
    border-right: 1px solid #B62025;
    padding: 5px 10px;
   }
   /*первый вариант*/
   /* a[href="4.html"]{
       border-right: none;
   } */
   /*второй вариант*/
   /* .links a:nth-child(4){
       border-right: none;
   } */
   /*третий вариант*/
   .links a:last-child{
    border-right: none;
   }
   /*задание 15*/
   .task15{
       background-color: burlywood;
       width: 1000px;
       height: 500px;
       font-family: Arial, Helvetica, sans-serif;
       padding-top: 10px;
   }
   .container{
       background-color: white;
       clear: both;
       width: 700px;
       min-height: 155px;
       border-radius: 5px;
       margin: 10px 20px;
       box-shadow: 0 14px 14px rgba(0, 0, 0, 0.5);
   }
   .section{
       float: left;
       border-right: 1px solid lightgray;
       width: 200px;
       min-height: 150px;
       text-align: center;
   }
   .section p:nth-child(2){
       color: #5F9EA0;
       text-align: center;       
   }
   .section p{
       text-align: center;
   }
   .vhost, .chost, .server{
       width: 65px;
       height: 42px;
       background: url(image/T15_1.png) no-repeat;
       margin: 5px auto;
   }
   .chost{
       background-position-y: -42px;
   }
   .server{
       background-position-y: -84px;
   }
   .bottom{
       display: inline-block;
       background: #FFD700;
       padding: 2px 2px;
       text-decoration: none;
       border-radius: 2px;
       color: white;
   }